// @import 'bulma/css/bulma.css';
@import "bulma/css/bulma.min.css";

body {
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
}

.navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateY(-5px);
  }
}
